*{
    padding: 0;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

nav{
    background-color: black;
    width: 100%;
    padding: 10px 0;
}

nav .menu {

    /* background-color: red; */
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;


}
nav .menu .logo a{

    color: aliceblue;
    font-size: 35px;
    text-decoration: none;
    font-weight: 100;
}
 .menu ul{
    display: inline-flex;

}

.menu ul li{

    list-style: none;
    margin-left: 23px;
  

}
.menu ul li a{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: white;
    /* background-color: red; */
    padding: 5px 3px;
    border-radius: 4px;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    color: black;
    background-color: aliceblue;
}

/* mg{
   
    
        /* The image used */
      /* /  background-image: url("/images/images.jpeg"); */
      
        /* Full height */
       /* // height: 100%; */
      
        /* Center and scale the image nicely */
        /* background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */ */
    

.img{
    background: url(/images/images.jpeg) no-repeat;
    /* height: 10;
    width:100%; */
    /* background-size: cover;
    background-position: center;  */
    position: relative;
    

     
}

.CENTER{
    position: absolute;
    top: 52%;
    left: 4%;
    right: 20%;
   width: 90%;
    /* background-color: red; */
    padding: 0 20px;
    text-align: center;
    
}

.CENTER .center{
    font-size: 50px;
    font-weight: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.CENTER .btns{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.CENTER .btns button{
    height: 55px;
    width:170px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    border: 2px solid white;
    margin: 0 10px;
    outline: none;
    transition: all 0.3s ease;
    border: none;
    padding: 0 10px;
    /* background-color: blue; */

} 
.CENTER .btns button:first-child{
    color: white;
    background-color: transparent;
}
.CENTER .btns button:first-child:hover{
    color: black;
    background-color: white;
}
.CENTER .btns button:hover{
    color: white;
    background-color: black;
}